<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Blog List</title>
    {% load static %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- google lobster font-->
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"
    type="text/css">
    <!-- 개발자 정의 CSS-->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- favicon 적용하기 -->
    <link rel="shortcut icon" href="{%static 'favicon.ico'%}">
</head>
<body>
    <div class="page-header">
        <h1><a href="/">Django Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% for post in posts %}
            <div class="post">
                <div class="date">
                    <p>published : {{post.published_date}}</p>
                </div>
                    <h1><a href="https://naver.com">{{post.title|title}}</a></h1>
                    <p>{{post.text|linebreaksbr}}</p>
            </div>
            {% empty %}
                <div>요청하신 Post가 존재하지 않습니다. </div>
            {% endfor %}
            </div>
        </div>
    </div>


    {% comment "Optional note" %}
        Server comment
    {% endcomment %}
    <!-- html Client Comment -->
</body>
</html>